.buttonContainer{
	width: 250px;
	height: 100px;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	cursor: pointer;	
	font-size: 15px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	transition: all 0.3s ease 0s;
	margin: 30 auto 0 auto;
	display: block;
	
	object-fit: fill;
	background-position: center center;
}
.buttonContainer:hover{
	box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.4);
	transform: scale(1.05);
}
.buttonContainer:focus{
	outline:none;
}

#createHost{	
	width: auto;
	height: 25px;
	border-radius: 50px;
	box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
	cursor: pointer;	
	color: white;
	border: 1px solid black;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	object-fit: fill;
	background-position: center center;
	background-image: url(../images/hostgame.svg);

	display: table-cell;
  vertical-align: middle;

  /* Reset */
  float: none;
  line-height: normal;
}
#createHost:hover{
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
	transform: scale(1.05);
}
#createHost:focus{
	outline:none;
}

.graypage{
	width: 100%;
	height: 100%;
	background-color: #f3f3f3;
}
.whitepage{
	position:fixed;
	left: 15%;
	width:70%;
	height:100%;
	margin-top: -10px;
	padding-top:10px; 
	border: 1px solid #ccc;
	background-color: #ffffff;
}
.divContainer{
	height: 500px;
	overflow:visible;
}

#toggle-host{
	display: block;
}
.infodiv{
	height: auto;
	display: flex;
	align-items: center;
	margin-top: 30px;
	border-radius: 12px;
	border-bottom: 3px solid #ccc;
	padding-left: 5%; 
	overflow: visible;
}

/*material buttons*/
.group{
	position: relative; 
	margin: 5px;
}
input{
	font-size:18px;
	padding:5px 5px 5px 2px;
	display:block;
	width:300px;
	border:none;
	border-bottom:1px solid #757575;
	overflow: auto;
	
}
input:focus{ 
	outline:none; 
}
label{
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

.bar 	{ 
	position:relative; 
	display:block; 
	width:300px; 
}
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
