#board{
	cursor: none;
	position: relative;
	background-color: white;
	margin-right: 10px;
}
#wrapper{
	width: 70%;
	display: table-cell;
}

.row{
	margin: 0 auto;
	cursor: none;
	display: table;
}

.boardCell{
	display: table-cell;
	background-position:0px 0px;
	background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align:center;
	cursor: none;
}

.pawn{
    margin: auto;
	visibility: hidden;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	cursor: none;
	behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.disabled{
	pointer-events: none;
}

.grayed{
	opacity: 0.2;
	background: #CCC;
}

.toInsert{
	z-index: 1;
	position: absolute;
	opacity: 1; 
	font-size: 50px;
	color: black;
	letter-spacing: 2px;
}

.gameContainer{
	display: table; 
	width:100%;
}