.list {
	display: inline;
	margin: 10px;
	overflow: hidden;
}

ol {
	margin-top: 30px;
	color: #ccc;
	list-style-type: none;
}

ol li {
  position: relative;
  font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
  margin-bottom: 20px;
  margin-right: 20px;
}

li p {
  font: 15px/1.5 Helvetica, sans-serif;
  padding-left: 60px;
  color: #555;
}

p{
	font: 18px/1.5 Helvetica, sans-serif;
	color: #555;
}

span {
  position: absolute;
}
