#board{
    width: 760px;
    height: 760px;
	display: flex;
	flex-direction: column;
}

.row{
	width: 0px;
	height: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
	display: block;
}
.boardCell{
	margin: 0px;
	border: 0px;
	padding: 0px;
	display: inline-block;
	background-position:0px 0px;
	background-repeat:no-repeat; 
	background-size: cover;
    -webkit-transform-origin: top left; /* Chrome */
    transform-origin: top left; /* IE 10+, Firefox, etc. */
    -ms-transform-origin: top left; /* IE 9 */    
}
.boardCell-rotate90 {
    transform: rotate(90.001deg) translateY(-101%);
    -webkit-transform: rotate(90deg) translateY(-100%);
    -ms-transform: rotate(90deg) translateY(-100%);
}
.boardCell-rotate180 {
    transform: rotate(180.001deg) translate(-101%,-101%);
    -webkit-transform: rotate(180deg) translate(-100%,-100%);
    -ms-transform: rotate(180deg) translateX(-100%,-100%);
}
.boardCell-rotate270 {
    transform: rotate(270.001deg) translateX(-101%);
    -webkit-transform: rotate(270deg) translateX(-100%);
    -ms-transform: rotate(270deg) translateX(-100%);
}

.pawn{
	border-radius: 50%;
	background: black;
	visibility: hidden;
	behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}


