#board{
    width: 760px;
    height: 760px;
	display: flex;
	flex-direction: column;
}

.row{
	margin: 0px;
	border: 0px;
	padding: 0px;
	display: block;
}
.boardCell{
	display: inline-block;
	background-position:0px 0px;
	background-repeat:no-repeat; 
    border: 1px transparent !important;
    transform-origin: top left; /* IE 10+, Firefox, etc. */
    -webkit-transform-origin: top left; /* Chrome */
    -ms-transform-origin: top left; /* IE 9 */    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.pawn{
	border-radius: 50%;
	background: black;
	visibility: hidden;
	behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}


